* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#three-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
}

#worldClock {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
    font-size: 200%;
}